//
// Layouts
// Fixed-width and fluid (with sidebar) layouts
// --------------------------------------------
body {
	background: @bodyBackground fixed url('../img/bg-old.png');
}
//body {
//	#gradient > .vertical (rgba(207, 93, 0, 0.5), rgba(136, 13, 13, 0.5));
//	background-position: fixed;
//}

// Container (centered, fixed-width layouts)
.container {
  .container-fixed();
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding-left: @gridGutterWidth;
  padding-right: @gridGutterWidth;
  .clearfix();
}