//
// Layouts
// Fixed-width and fluid (with sidebar) layouts
// --------------------------------------------
html {
  #gradient > .vertical (rgb(207, 93, 0), rgb(136, 13, 13));
	background-position: fixed;
}
body {
	background: fixed url('../img/bg-transparent.png');
}

// Container (centered, fixed-width layouts)
.container {
  .container-fixed();
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding-left: @gridGutterWidth;
  padding-right: @gridGutterWidth;
  .clearfix();
}