// WELLS
// -----

@wellPadding: 19px;

.well {
  min-height: 20px;
  padding: @wellPadding;
  margin-bottom: 20px;
  background-color: darken(@background, 20%);
  border: 1px solid #eee;
  border: 1px solid rgba(0,0,0,.05);
  // .border-radius(4px);
  
  .box-shadow(@navbarShadow);
  
  border-left: solid 5px darken(@background, 12%);
  border-right: solid 5px darken(@background, 8%);
  border-bottom: solid 3px darken(@background, 8%);
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

.well h1, .well h2, .well h3, .well h4, .well h5, .well h6 {
  background: 0 -800px url('../img/bg-old.png');
  .box-shadow(@navbarShadow);
  margin: 0 -@wellPadding;
  margin-top: -@wellPadding - 1px;
  padding: @wellPadding / 2 @wellPadding;
  margin-bottom: @wellPadding;
}

.well > .well {
  background: 0 -800px url('../img/bg-old.png');
  border-left: solid 5px darken(@background, 22%);
  border-right: solid 5px darken(@background, 22%);
  border-bottom: solid 3px darken(@background, 22%);
}